

<div class="wurl_form form-horizontal" id="wurl_form">
      <form accept-charset="UTF-8" class="new_wurl well" id="new_wurl">
        <input type="hidden" class="request content_type" value="application/json">
        <input type="hidden" class="response content_type" value="application/json; charset=utf-8" style="">

        <div class="control-group">


          <div class="form-group">
            <label class="col-sm-2 control-label">
              URL
            </label>
            <select class="wurl_request_method" name="wurl[request_method]">
              <option value="<%= request['request_method'] %>" selected="true"><%= request['request_method'] %></option>
              <option value="GET">GET</option>
              <option value="POST">POST</option>
              <option value="PUT">PUT</option>
              <option value="DELETE">DELETE</option>
              <option value="HEAD">HEAD</option>
            </select>
            <input class="wurl_request_url" name="wurl[request_url]" value="<%= request['request_path'].split('?').first %>">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Basic Auth</label>
          <input id="wurl_basic_auth_user" name="wurl[basic_auth_user]" placeholder="username">
          <input id="wurl_basic_auth_password" name="wurl[basic_auth_password]" placeholder="password">
        </div>

        <div class="form-group field-group">
          <label class="col-sm-2 control-label">
            <a class="btn trash_fields btn-sm btn-danger" title="trash all headers"><i class="icon-trash icon-white">-</i></a>
            <a class="btn add_field btn-sm btn-inverse" style="background:#DDD;color:#333;" title="add header"><i class="icon-plus icon-white">+</i></a>
            <span class="text">Headers</span>
          </label>

          <div class="col-sm-10 headers form-group fields">
            <% request["request_headers"].to_hash.each do |k, v| %>
              <div class="header_pair">
                <input class="key ui-autocomplete-input" name="header_keys[]" type="text" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" value="<%= k %>">
                <input class="value" name="header_values[]" type="text" value="<%= v %>">
                <a class="btn delete_field btn-sm btn-danger" title="delete header"><i class="icon-remove icon-white">X</i></a>
              </div>
            <% end %>
          </div>
        </div>

        <div class="form-group field-group">
          <label class="col-sm-2 control-label">
            <a class="btn trash_fields btn-sm btn-danger" title="trash all parameters"><i class="icon-trash icon-white">-</i></a>
            <a class="btn add_field btn-sm btn-inverse" style="background:#DDD;color:#333;" title="add parameter"><i class="icon-plus icon-white">+</i></a>
            <span>Query</span>
          </label>

          <div class="col-sm-10 params form-group fields">
            <% request["request_query_parameters"].to_hash.each do |k, v| %>
              <div class="param_pair">
                <input class="key" name="param_keys[]" type="text" value="<%= k %>">
                <input class="value" name="param_values[]" type="text" value="<%= v %>">
                <a class="btn delete_field btn-sm btn-danger" title="delete parameter"><i class="icon-remove icon-white">X</i></a>
              </div>
            <% end %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            <span>Body</span>
          </label>

          <div class="post_body controls">
            <textarea class="wurl_request_body prettyprint" name="wurl[request_body]" rows="<%= formatted_body(request['request_body'], request['request_content_type']).lines.count + 1 %>" style="width:100%;" class=""><%= formatted_body(request['request_body'], request['request_content_type']) %></textarea>
          </div>
        </div>
        <div>
          <div>
            <input class="clear_fields btn" type="button" value="Clear">
            <button class="give_it_a_wurl btn" type="submit">"Give it a Wurl!"</button>
          </div>
        </div>
      </form>

      <h3><a class="response_anchor"></a>Response</h3>
      <h4>Headers</h4>
      <pre class="response" style=""><code class="headers_output http"><%= request["response_headers"].map { |k,v| "#{k}: #{v}" }.join("\n") %></code></pre>

      <h4>Status</h4>
      <pre class="response status_output" style="">200 OK</pre>

      <section class="body">
        <h4>Body</h4>
        <pre><code class="code_output prettyprint">Run Wurl</code></pre>
      </section>

    </div>
